{% extends 'base.html.twig' %}

{% block title %}ArticlesList{% endblock title %}


{% block main %}

    <main>

        <section class="row justify-around">

            {% for article in articles %}

                {# Je fais une condition pour faire apparaître sur la section 1
                au maximun trois articles. #}
                {% if article.id <= 3 %}

                    <div class="card">

                        <a href="{{ path('article_show', {'id': article.id} ) }}">

                            {# Dans cette div, en lien de mon img, j'affiche la valeur de mon image située dans
                            ma variable article twig. #}
                            <div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div>

                        </a>

                        <a href="{{ path('article_show', {'id': article.id} ) }}"><h1>{{ article.title }}</h1></a>

                    </div>

                {% endif %}

            {% endfor %}

        </section>

        <section class="row justify-around">

            {% for article in articles %}


                {# Je fais une condition pour faire apparaître sur la section 2 les 2 articles restants. #}
                {% if article.id >= 4 %}

                    <div class="card">

                        <a href="{{ path('article_show', {'id': article.id} ) }}">
                            <div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div>
                        </a>

                        <a href="{{ path('article_show', {'id': article.id} ) }}"><h1>{{ article.title }}</h1></a>

                    </div>

                {% endif %}

            {% endfor %}

        </section>

    </main>
{% endblock main %}