{% extends 'base.html.twig' %}

{% block title %}
    ArticlesList
{% endblock title %}


{% block main %}

    <main>

        <section class="row justify-around">
            {% for article in articles %}
                {% if article.id <= 3 %}
                <div class="card">
                    <a href="{{ path('article_show', {'id': article.id} ) }}"><div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div></a>
                    <br>
                    <a href="{{ path('article_show', {'id': article.id} ) }}"><h1>{{ article.title }}</h1></a>
                </div>
                {% endif %}
            {% endfor %}
        </section>

        <section class="row justify-around">
            {% for article in articles %}
                {% if article.id >= 4 %}
                    <div class="card">
                        <a href="{{ path('article_show', {'id': article.id} ) }}"><div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div></a>
                        <br>
                        <a href="{{ path('article_show', {'id': article.id} ) }}"><h1>{{ article.title }}</h1></a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>

    </main>
{% endblock main %}